.BadgeDetails__hero{
  background: url("../../images/stars.svg"), #1b1b25;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.BadgeDetails__attendant__title{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
