
.Home_container{
  margin: 0;
  background: url("../../images/stars.svg"), #1b1b25;
  height: 90.8vh;
  color: white;
  padding: 0px 50px;
  display: grid;
  justify-items: center;
  grid-template: 1fr / 100px 300px 1fr 100px  ;
  align-items: center;
  grid-template-areas: ". text image ."
}

.BadgeHome__img-hero{
  grid-area: image;
  height: 400px;
  margin-left: 50px;
  display: inline-block;
}

.text-container{
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.text-container .btn{
  width: 100px;
  margin-top: 20px;
}




@media only screen and (max-width: 700px){
  .Home_container{
    grid-template: 1fr / 10px 1fr 1fr 10px;
    height: 95vh;
    justify-content: center;
    grid-template-areas: ". text ."
                         ". image .";

  }
  .BadgeHome__img-hero{
    grid-area: image;
    height: 210px;
    /* margin: 10px 0; */
    margin-left: 50px;
    display: inline-block;
  }
  .text-container img{
  height: 150px;
  }
  .text-container .btn{
    width: 100%;
    margin-top: 20px;
  }
}
