.Badges{
  background: url("../../images/stars.svg"), #1b1b25;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Badges_conf-logo{
  width: 250px;
}


.Badges__buttons a{
  float: right;
}




.Badges__List{
  width: 100%;
  margin: 0;
}

.list-unstyled{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 500px;
}

.list__element .list__element__link{
  display: flex;
  margin: 10px 0px;
  border:  1px solid gray;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

 .list__element__link p{
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.list__element__link .list__element__avatar{
  border-radius: 50%;


}



.list__element .list__element__link img{
  margin-left: 5px;
  width: 25px;
}

.list__element__avatar{
  width: 120px !important;
}



.Badge__container{
  width: 500px;
  margin: 0;
}

.Content__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-buton{
  margin: 10px;
}

@media only screen and (max-width: 700px){
  .list-unstyled{

    width: 350px;
  }
  .Badge__container{
    width: 350px;
    margin: 0;
  }
}
